@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

/* Global Styles */

* {
  font-family: "Lato";
  /*background-color: #f4f3ee;*/
  scroll-behavior: smooth;
}

div.BasicPage {
    display: flex;
    justify-content: center;
}

div.Title {
  text-align: center;
  font-size: 50px;
  justify-content: center;
  margin-bottom: 0px;
}

div.Description {
  text-align: center;
  justify-content: center;
}