div.BasicPage {
    display: block;
    justify-content: center;
    
}

div.Title {
  text-align: center;
  font-size: 50px;
  justify-content: center;
  margin-bottom: 0px;
}

div.Description {
  text-align: center;
  justify-content: center;
}