div.BasicPage {
  display: block;
  justify-content: center;
  font-family: Verdana;
  font-weight: 600;
}

div.Title {
  color: purple;
  text-align: center;
  font-size: 50px;
  justify-content: center;
}

div.Description {
  text-align: center;
  justify-content: center;
  color: var(--morado);
}

div.Options {
  color: var(--morado);
}

.radio-inline input[type="radio"]:checked + label {
  color: var(--blue); 
}
