div.BasicPage {
  display: block;
  justify-content: center;
  font-family: Verdana;
  font-weight: 600;
}

div.Title {
  color: purple;
  text-align: left;
  font-size: 30px;
  justify-content: center;
}

div.QuestionBox{
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 10px;
}
div.Options {
  color: var(--morado);
}

.radio-inline input[type="radio"]:checked + label {
  color: var(--blue); 
}
