div.HomePage {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    > div {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 4rem;
    }

    .intro {
        background-color: white;
        border-radius: 10px;
        padding: 25px;
        justify-content: center;
        margin-bottom: 50px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        /*text*/
        color: var(--navy);
        text-align: center;
        font-weight: 500;
        font-family: "verdana";
    }

    .quiz-wrapper {
        padding: 25px;
        justify-content: center;
        text-align: center;
        flex-direction: row;
        align-items: stretch;
        /*text*/
        color: var(--navy);
        font-weight: 500;
        font-family: "verdana";
    }

    .quiz-card {
        background-color: white;
        border-radius: 10px;
        padding: 25px;
        flex-wrap: wrap;
        display: flex;
        flex-direction: column;
        text-align: center;
        > div {
            h3 {
                color: var(--morado);
            }
        }
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    }

    button {
        background-color: var(--blue);
        width: 100%;
        /*text*/
        color: white;
        font-weight: bold;
        font-family: "verdana";
        text-align: center;
    }

    .quiz-card:hover {
    background-color: darken(#0cf, 15%);
    transform: translateY(-3px);
}

}