div.Results {
    h1 {
        font-size: 2.5rem;
        color: var(--morado);
        padding-bottom: 1.5rem;
    }

    ol {
        margin-left: 1rem;
        list-style-type: none;
        padding-left: 0;
    }

    button {
        background-color: var(--blue);
        width: 100%;
        /*text*/
        color: white;
        font-weight: bold;
        font-family: "verdana";
        text-align: center;
    }
}

.piechart-wrapper {
    h1 {
        text-align: center;
        width: 100%;
        color: var(--morado)
    }
    background-color:white;
    border-radius: 15px;
    width: 87%;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 20px;
    margin-left: auto; 
    margin-right: 0;
}
