div.Genie {
    position: absolute;
    bottom: 0;
    transform: scale(0.8);

    transition: left 0.5s ease-in-out; /* slide in from left of screen with easing */

    p { /* speech bubble */
        position: absolute;
        top: 150px;
        left: 300px;
        width: 50vw;
        background-color: white;
        padding: 1rem;
        border-radius: 1rem;
    }
}

/* hide genie offscreen when not in use */

div.Genie.showing {
    left: 0;
}

div.Genie.not-showing {
    left: -100vw;
}
