div.Genie {
    position: absolute;
    bottom: 0;
    transform: scale(0.8);

    transition: left 0.5s ease-in-out;

    p {
        position: absolute;
        top: 150px;
        left: 300px;
        width: 50vw;
        background-color: white;
        padding: 1rem;
        border-radius: 1rem;
    }
}

div.Genie.showing {
    left: 0;
}

div.Genie.not-showing {
    left: -100vw;
}
