.MultipleChoiceInput {
    display: flex;
    justify-content: center;
}

.radio-group {
    display: flex;
    flex-wrap: wrap;
}

.radio-inline {
    margin-right: 30px;
    text-align: center;
}

.radio-inline label {
    display: block;
    text-align: center;
}

.radio-inline input[type="radio"] {
    transform: scale(1.5); 
}

.radio-inline input[type="radio"] {
    accent-color: var(--blue);
}