.MultipleChoiceInput {
    display: flex;
    justify-content: center;
}

.FormCheck {
    margin-right: 10px; 
}

.radio-inline {
    display: inline-flex;
    align-items: center; 
    margin-right: 30px;
}
