.Question {
    display: flex;
    flex-direction: column;
    align-items: left;
}

.Question h2 {
    margin-bottom: 10px;
}

.question-container {
    border: 1px solid purple;
    padding: 4px;
    width: 100%;
    box-sizing: border-box;
    margin-top: 10px;
    margin-bottom: 10px;
}

.Question.button-container {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
}
