.QuestionButtons {
    position: relative;
    margin-top: 20px;
    margin-bottom: 10px;
}

.button-container {
    display: flex;
    justify-content: center;
}

.button-container button {
    width: 100px; 
    margin-right: 10px;
    background-color: var(--blue);
    color: white;
}

.button-container button:hover {
    background-color: darken(#0cf, 15%);
    transform: translateY(-3px);
}

.finishButton {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: var(--blue);
    color: white;
}

.finishButton[disabled] {
    background-color: gray; 
}
