.QuestionButtons {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 10px;
    
}

.QuestionButtons .button-container {
    display: flex;
    justify-content: center;
}

.QuestionButtons .button-container button {
    margin-right: 10px;
}

