.DetailedQuestionsReviewPage {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
}

.DetailedQuestionsReviewPage h1 {
    text-align: center;
    color: var(--morado);
}

.DetailedQuestionsReviewPage ul {
    list-style-type: none;
    padding: 0;
}

.DetailedQuestionsReviewPage li {
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

.DetailedQuestionsReviewPage li:last-child {
    border-bottom: none;
    margin-bottom: 0;
}

.DetailedQuestionsReviewPage h3 {
    color: var(--morado);
}

.DetailedQuestionsReviewPage p {
    color: var(--purple);
}

.DetailedQuestionsReviewPage button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    background-color: var(--blue);
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.DetailedQuestionsReviewPage button:hover {
    background-color: var(--navy);
}
