.BasicQuestionsReviewPage {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
}

.BasicQuestionsReviewPage h1 {
    text-align: center;
    color: var(--morado);
}

.BasicQuestionsReviewPage ul {
    list-style-type: none;
    padding: 0;
}

.BasicQuestionsReviewPage li {
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

.BasicQuestionsReviewPage li:last-child {
    border-bottom: none;
    margin-bottom: 0;
}

.BasicQuestionsReviewPage h3 {
    color: var(--morado);
}

.BasicQuestionsReviewPage p {
    color: var(--purple);
}

.BasicQuestionsReviewPage button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    background-color: var(--blue);
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.BasicQuestionsReviewPage button:hover {
    background-color: var(--navy);
}
